@model IEnumerable<TimExamCase.Data.Entities.Exam>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

 
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ExamName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ExamName)
            </td>
            <td>
                <a asp-action="Start" asp-route-id="@item.ExamID">Başla</a> |
             </td>
        </tr>
}
    </tbody>
</table>
